<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.much.it.mapper.BusCaseProcessMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.much.it.entity.BusCaseProcess">
        <id column="ID" property="id" />
        <result column="CASE_ID" property="caseId" />
        <result column="TITLE" property="title" />
        <result column="STEP" property="step" />
        <result column="OPERATION_TIME" property="operationTime" />
        <result column="IMG_URL" property="imgUrl" />
        <result column="LASTUPDATE_DATE" property="lastupdateDate" />
        <result column="CREATE_DATE" property="createDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, CASE_ID, TITLE, STEP, OPERATION_TIME, IMG_URL, LASTUPDATE_DATE, CREATE_DATE
    </sql>

</mapper>
