<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.much.it.mapper.ComHotSearchMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.much.it.entity.ComHotSearch">
        <id column="ID" property="id" />
        <result column="KEYWORD" property="keyword" />
        <result column="ON_LINE" property="onLine" />
        <result column="REAL_HOT_COUNT" property="realHotCount" />
        <result column="YY_HOT_COUNT" property="yyHotCount" />
        <result column="LASTUPDATE_DATE" property="lastupdateDate" />
        <result column="CREATE_DATE" property="createDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, KEYWORD, ON_LINE, REAL_HOT_COUNT, YY_HOT_COUNT, LASTUPDATE_DATE, CREATE_DATE
    </sql>

</mapper>
