<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.much.it.mapper.SysAclMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.much.it.entity.SysAcl">
        <id column="ID" property="id" />
        <result column="ROLE_ID" property="roleId" />
        <result column="POINT_ID" property="pointId" />
        <result column="CREATE_DATE" property="createDate" />
        <result column="CREATE_BY" property="createBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, ROLE_ID, POINT_ID, CREATE_DATE, CREATE_BY
    </sql>

</mapper>
