<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.much.it.mapper.SysExampleMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.much.it.entity.SysExample">
        <id column="ID" property="id" />
        <result column="EXAMPLE_KEY" property="exampleKey" />
        <result column="EXAMPLE_VALUE" property="exampleValue" />
        <result column="CREATE_DATE" property="createDate" />
        <result column="CREATE_BY" property="createBy" />
        <result column="LASTUPDATE_DATE" property="lastupdateDate" />
        <result column="LASTUPDATE_BY" property="lastupdateBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, EXAMPLE_KEY, EXAMPLE_VALUE, CREATE_DATE, CREATE_BY, LASTUPDATE_DATE, LASTUPDATE_BY
    </sql>

</mapper>
