<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.much.it.mapper.SysLookupMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.much.it.entity.SysLookup">
        <id column="ID" property="id" />
        <result column="LOOKUP_CODE" property="lookupCode" />
        <result column="LOOKUP_NAME" property="lookupName" />
        <result column="LOOKUP_DESC" property="lookupDesc" />
        <result column="CREATE_DATE" property="createDate" />
        <result column="CREATE_BY" property="createBy" />
        <result column="LASTUPDATE_DATE" property="lastupdateDate" />
        <result column="LASTUPDATE_BY" property="lastupdateBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, LOOKUP_CODE, LOOKUP_NAME, LOOKUP_DESC, CREATE_DATE, CREATE_BY, LASTUPDATE_DATE, LASTUPDATE_BY
    </sql>

</mapper>
