<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.much.it.mapper.SysPointMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.much.it.entity.SysPoint">
        <id column="ID" property="id" />
        <result column="DOMAIN" property="domain" />
        <result column="PM_CODE" property="pmCode" />
        <result column="PM_NAME" property="pmName" />
        <result column="PP_CODE" property="ppCode" />
        <result column="PP_NAME" property="ppName" />
        <result column="CREATE_DATE" property="createDate" />
        <result column="LASTUPDATE_DATE" property="lastupdateDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, DOMAIN, PM_CODE, PM_NAME, PP_CODE, PP_NAME, CREATE_DATE, LASTUPDATE_DATE
    </sql>

</mapper>
